.container {
  width: 100%;
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .warper {
    width: 70%;
    height: 100%;
    padding-top: calc(var(--section-padding) * 1);
    padding-bottom: calc(var(--section-padding) * 1);
    overflow: hidden;

    .experienceWrp {
      margin-bottom: 6vw;
      display: flex;
      gap: 3em;

      .yearWrp {
        font-size: clamp(1.5rem, 6vw, 3rem);
      }
    }
  }

  .progressBar {
    height: 100%;
    width: 10px;
    transform-origin: top;
    background-color: red;
  }
}

.figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  & > svg {
    width: inherit;
    height: inherit;
    transform: rotate(-90deg);

    .circle1 {
      stroke-width: 2;
      fill: none;
      stroke: #58e6d9;
    }

    .circle2 {
      stroke-width: 5px;
      stroke: #58e6d9;
      fill: none;
    }
  }

  & > p {
    position: absolute;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
  }
}

/* If the container is larger than 700px */
@media screen and (max-width: 720px) {
  .container {
    .warper {
      .experienceWrp {
        gap: 1.2em;
      }
    }
  }

  .figure {
    width: 60px;
    height: 60px;

    & > svg {
      width: inherit;
      height: inherit;
    }
  }
}
